html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
  --transition: 0.3s;
  --b-rad: 9px;
}

.hidden {
  display: none !important;
}

.opacity-0 {
  opacity: 0;
}

.trans-y-15 {
  transform: translateY(15px);
}

.transition {
  transition: 0.5s;
}

.text-center {
  text-align: center;
}

.c-orange-700 {
  color: var(--orange-700) !important;
}

.d-flex-center-x-y {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid-field {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.3rem;
}

.info-icon {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid currentColor;
  color: var(--neutral-300);
  border-radius: 50%;
  font-size: 0.8rem;
}

.invalid-field span {
  color: var(--orange-500);
}

.invalid-field p {
  font-size: 1.2rem;
  color: var(--orange-500);
}

body {
  min-height: 100vh;
  padding-top: 4rem;
  font-family: "Inconsolata", monospace;
  font-size: 1.6rem;
  background-image: url(../images/background-desktop.png);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  position: relative;
}

@media (min-width: 481px) and (max-width: 1023px) {
  body {
    background-image: url(../images/background-tablet.png);
  }
}

@media (max-width: 500px) {
  body {
    background-image: url(../images/background-mobile.png);
    padding-bottom: 10rem;
  }
}

.bg-lines {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../images/pattern-lines.svg);
  background-repeat: repeat-x;
  background-size: contain;
}

body::before,
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
}

body::before {
  background-image: url(../images/pattern-squiggly-line-top.svg);
  width: 44.6rem;
  height: 20.8rem;
  right: 0;
  top: 65px;
  background-position: right top;
}

@media (max-width: 500px) {
  body::before {
    background-size: 20rem;
  }
}

body::after {
  background-image: url(../images/pattern-squiggly-line-bottom-desktop.svg);
  width: min(82.5rem, 100%);
  height: 40rem;
  left: 0;
  bottom: 0;
  background-position: left bottom;
}

@media (max-width: 1024px) {
  body::after {
    background-image: url(../images/pattern-squiggly-line-bottom-mobile-tablet.svg);
    background-size: 60rem;
  }
}

@media (max-width: 500px) {
  body::after {
    background-size: 27rem;
  }
}

@media (max-width: 600px) {
  header img {
    width: 17rem;
  }
}

main {
  margin: 0 2rem;
}

@media (max-width: 500px) {
  main {
    margin: 0 1.5rem;
  }
}

.title {
  max-width: 70rem;
  margin: 4rem auto 4.1rem;
  color: white;
}

@media (max-width: 500px) {
  .title {
    margin: 3.4rem auto 3.6rem;
  }
}

.title h1 {
  font-size: 5rem;
}

@media (max-width: 800px) {
  .title h1 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .title h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

.title .desc {
  margin-top: 2.2rem;
  font-size: 1.9rem;
  color: var(--neutral-300);
}

@media (max-width: 600px) {
  .title .desc {
    line-height: 1.3;
    font-size: 1.6rem;
  }
}

.sign-in form {
  max-width: 41rem;
  margin: 0 auto;
  color: white;
}

.upload-section {
  background-color: hsl(245deg 19% 35% / 30%);
  padding: 2rem 0;
  margin: 1.3rem 0;
  border: 2px dashed var(--neutral-700);
  outline: 2px solid transparent;
  outline-offset: 3px;
  border-radius: var(--b-rad);
  transition: var(--transition) background-color, var(--transition) border-color;
}

.upload-section:hover {
  background-color: rgb(75 72 106 / 65%);
  border-color: var(--neutral-500);
}

.upload-section label {
  -webkit-tap-highlight-color: transparent;
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 auto 1.5rem;
  background-color: rgb(51 47 82);
  border-radius: var(--b-rad);
  border: 1px solid var(--neutral-700);
  cursor: pointer;
  overflow: hidden;
}

.upload-section label .avatar {
  width: 100%;
}

.upload-section .drag-drop-msg {
  color: var(--neutral-300);
}

.upload-section .control-avatar {
  gap: 1.3rem;
}

.upload-section .control-avatar button {
  font-family: "Inconsolata", monospace;
  font-size: 1.4rem;
  padding: 0.6rem 1rem;
  background-color: var(--neutral-700);
  color: var(--neutral-300);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-section .control-avatar button:active {
  transform: scale(0.97);
}

.upload-section .control-avatar .remove {
  position: relative;
}

.upload-section .control-avatar .remove::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  width: calc(100% - 20px);
  height: 1px;
  background-color: var(--neutral-300);
}

.upload-msg {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.upload-msg p {
  font-size: 1.2rem;
  color: var(--neutral-300);
}

@media (max-width: 500px) {
  .upload-msg p {
    font-size: 1.1rem;
  }
}

:nth-child(2 of .user-info) {
  margin: 2rem 0;
}

.user-info label {
  display: block;
  margin-bottom: 1rem;
}

form input:not([type="file"]) {
  font-family: "Inconsolata", monospace;
  width: 100%;
  padding: 1.3rem;
  border-radius: var(--b-rad);
}

.user-info input {
  background-color: hsl(245deg 19% 35% / 30%);
  color: white;
  border: 1px solid var(--neutral-700);
  outline: 2px solid transparent;
  outline-offset: 3px;
  transition: var(--transition) background-color, var(--transition) border-color;
}

.user-info input:hover {
  background-color: rgb(75 72 106 / 65%);
  border-color: var(--neutral-500);
}

.user-info input:focus {
  outline-color: var(--neutral-500);
}

form input[type="submit"] {
  margin-top: 2rem;
  border: 2px solid transparent;
  outline: 1px solid transparent;
  background-color: var(--orange-500);
  color: var(--neutral-900);
  font-size: 1.6rem;
  font-weight: 900;
  cursor: pointer;
  transition: var(--transition) background-color;
}

form input[type="submit"]:hover {
  background-color: var(--orange-700);
}

form input[type="submit"]:focus {
  border-color: var(--neutral-900);
  outline-color: var(--neutral-500);
}

form input[type="submit"]:active {
  transform: scale(0.98);
}

.ticket-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: 0.5s;
}

@media (max-width: 500px) {
  .ticket-animation {
    gap: 1rem;
  }
}

.ticket-animation h2 {
  font-size: 6rem;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .ticket-animation h2 {
    font-size: 6vw;
  }
}

@media (max-width: 400px) {
  .ticket-animation h2 {
    font-size: 1.9rem;
  }
}

.ticket-animation .squares {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 700px) {
  .ticket-animation .squares {
    gap: 1.3rem;
  }
}

@media (max-width: 500px) {
  .ticket-animation .squares {
    gap: 0.8rem;
  }
}

.ticket-animation .squares span {
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  width: 2rem;
  height: 2rem;
  background-color: white;
}

@media (max-width: 700px) {
  .ticket-animation .squares span {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media (max-width: 500px) {
  .ticket-animation .squares span {
    width: 1rem;
    height: 1rem;
  }
}

.ticket-animation .squares span:nth-child(2) {
  animation-delay: 0.4s;
}

.ticket-animation .squares span:last-child {
  animation-delay: 0.7s;
}

@keyframes loading {
  to {
    opacity: 0.4;
  }
}

.ticket-ready .title {
  margin: 4rem auto 10rem;
}

@media (max-width: 500px) {
  .ticket-ready .title {
    max-width: 28rem;
    margin-bottom: 7rem;
  }
}

.ticket-ready .title h1 span {
  background-image: linear-gradient(89deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ticket-ready .title .desc {
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

.ticket-ready .title .desc span {
  color: hsl(7deg 83.51% 72.3%);
}

.user-ticket {
  max-width: 60rem;
  margin: 0 auto;
  position: relative;
}

.user-ticket > img {
  max-width: 100%;
}

.user-ticket .ticket-info {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

@media (max-width: 500px) {
  .user-ticket .ticket-info {
    top: 1.5rem;
    left: 1.5rem;
  }
}

@media (max-width: 419px) {
  .user-ticket .ticket-info img {
    width: 15rem;
  }
}

@media (min-width: 420px) and (max-width: 550px) {
  .user-ticket .ticket-info img {
    width: 18rem;
  }
}

.user-ticket .ticket-info .ticket-date {
  margin-left: 4.6rem;
  margin-top: 1rem;
  color: var(--neutral-500);
}

@media (max-width: 500px) {
  .user-ticket .ticket-info .ticket-date {
    margin-left: 3.6rem;
    margin-top: 0.3rem;
    font-size: 1.4rem;
  }
}

.user-ticket .user-info {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.7rem;
}

@media (max-width: 500px) {
  .user-ticket .user-info {
    bottom: 1.5rem;
    left: 1.5rem;
  }
}

.user-ticket .user-info > img {
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
  border-radius: var(--b-rad);
}

@media (max-width: 550px) {
  .user-ticket .user-info > img {
    width: 5.5rem;
    height: 5.5rem;
  }
}

.user-ticket .user-acc h2 {
  font-size: 2.7rem;
  font-weight: normal;
  color: white;
}

@media (max-width: 419px) {
  .user-ticket .user-acc h2 {
    font-size: 2rem;
  }
}

@media (min-width: 420px) and (max-width: 550px) {
  .user-ticket .user-acc h2 {
    font-size: 2.3rem;
  }
}

.user-ticket .user-acc .github-acc {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--neutral-300);
  margin-top: 1rem;
}

@media (max-width: 500px) {
  .user-ticket .user-acc .github-acc {
    margin-top: 0.5rem;
  }
}

.user-ticket .ticket-id {
  position: absolute;
  top: 0;
  right: 0;
  width: 19%;
  height: 100%;
  color: var(--neutral-500);
  writing-mode: vertical-lr;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .user-ticket .ticket-id {
    font-size: 2rem;
  }
}
